{% load static %}

<header class="header-section">
    <div class="container">

        <a class="site-logo" href="{% url 'main:index' %}">
            <img src="{% static 'img/logo.png' %}" alt>
        </a>
        <div class="user-panel">
            <a href="#">Login</a> / <a href="#">Register</a>
        </div>

        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>

        <nav class="main-menu">
            <ul>
                <li><a href="{% url 'main:index' %}">Home</a></li>
                <li><a href="{% url 'game:game-list' %}">Games</a></li>
                <li><a href="../blog/blogs.html">Blog</a></li>
                <li><a href="{% url 'main:community' %}">Forums</a></li>
                <li><a href="{% url 'main:contact' %}">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>