<header class="header-section">
    <div class="container">

        <a class="site-logo" href="index-2.html">
            <img src="img/logo.png" alt>
        </a>
        <div class="user-panel">
            <a href="#">Login</a> / <a href="#">Register</a>
        </div>

        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>

        <nav class="main-menu">
            <ul>
                <li><a href="index-2.html">Home</a></li>
                <li><a href="../game/games.html">Games</a></li>
                <li><a href="../blog/blogs.html">Blog</a></li>
                <li><a href="community.html">Forums</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>